.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;

}

.services-container .box {
    background: var(--gradient);
    border-radius: var(--radius-18);
    padding: 10px;
    box-shadow: var(--shadow);
    border: var(--border);
    cursor: pointer;
}



.services-container .box .box-img {
    width: 100%;
    height: 220px;
}

.services-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.box .box-container {
    padding: .8rem 0;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.box .box-container .car_name {
    text-transform: uppercase;

}

.box .box-container p {
    font-family: var(--ff-nunito);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    padding: 3px 12px;
    border: 2px dashed hsla(22, 91%, 53%, 0.4);
    border-radius: var(--radius-14);
}

.services-container .box .box-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 15px;
    width: 100%;

}

.services-container .box .box-content p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services-container .box .box-content img {
    height: 25px;
    width: 25px;
    filter: hue-rotate(180deg);
    color: rgba(254, 17, 0, 0.5);
    filter: invert(25%) sepia(87%) saturate(5973%) hue-rotate(357deg) brightness(98%) contrast(116%);
    /* color: var(--orang-clr); */
}

.services-container .box .box-content .capitalize-first-letter {
    text-transform: capitalize;
}

.services-container .box .card-price-wrapper {
    display: flex;
    justify-content: space-between;

}

.services-container .box .card-price-wrapper div {
    display: flex;
    gap: 20px
}

.services-container .box .card-price-wrapper div .fav-btn {
    --background: var(--beau-blue);
    --color: var(--blue-jeans);
    --height: 36px;
    --width: 36px;
    --shadow-2: none;
}

.services-container .box .card-price-wrapper div .btn {
    padding: 0 .6rem;

}

.services-container .box .card-price-wrapper div .fav-btn:is(:hover, :focus) {
    --background: var(--lavender-blush);
    --color: var(--red-salsa);
}

.filter-container {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin: 2rem 1rem;
}

.filter-container .bx {
    text-align: center;
    font-size: 1.1rem;
}

.filter-container h2 {
    font-size: 1.1rem;
    color: var(--darknavyblue);
    text-align: center;
}

.filter-container input {
    /* padding: 1rem 0.5rem .4rem .05rem; */
    border: none;
    background: var(--background-clr);
    border-bottom: 1px solid var(--card-bg-clr);
    font-weight: 500;
    font-size: 0.9rem;
    outline: none;
    font-size: 1rem;
    color: var(--card-bg-clr);
    padding-bottom: 0.2rem;
}

.filter-container input:hover {
    border-bottom: 1px solid var(--orang-clr);
    outline: none;
}


.filter-container select {
    display: flex;
    padding: 0.3rem 1rem;
    border: 1px solid var(--grey-font);
    background: var(--background-clr);
    border-radius: 0.5rem;
}


@media (min-width: 350px) {

    /**
     * FEATURED CAR
     */

    .services-container .box .box-content {
        grid-template-columns: 1fr 1fr;

        /* padding: 12px; */
    }
}